/* --------------------------------
         *   VARIABLES
-------------------------------- */

//? variables background:
$primary: #00d9a6;
$secondary: #fff;
$tertiary: #000;

$header: #00d9a6;
$footer: #002a20;


//? colore per bottoni:
// $gradient: rgb(155,225,93);
// background: linear-gradient(45deg, rgba(155,225,93,1) 25%, rgba(0,217,166,1) 100%); 

//? shadow:
$shadow: #000;
$alpha: .3;